<section>
    <div class="container-fluid">
        <div class="row justify-content-center bg-papaya py-5">
            <div class="col-12">
                <p class="text-blue text-center title-footer sombra-texto animated flipInX d-lg-block d-none"> CORREO ELECTRÓNICO</p>
                <p class="text-blue text-center title-footer-sm sombra-texto animated flipInX d-block d-lg-none"> CORREO</p>

            </div>
            <div class="col-lg-8 col-12">
                <p class="text-dark text-center h3 pb-2 "><strong>example@gmail.com</strong> </p>
                <p class="text-dark text-center h3 pb-2 "><strong>example2@gmail.com</strong> </p>
            </div>
        </div>
    </div>
</section>