<section class="bg-pink">
    <div class="container-fluid eventos paddiing-0">
        <div class="opacidad-imagen-eventos ">
            <div class="row justify-content-center align-items-center tam2 animated flipInX">
                <div class="col-sm-10 col-md-11 col-lg-9">
                    <p class="text-blue text-center title-footer sombra-texto">¡EVENTOS y FIESTAS!</p>

                    <div class="row justify-content-center">
                        <div class="col-6 text-white">
                            <p class="lead text-left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore aperiam vero possimus asperiores, deleniti sit et quos? Quos libero tenetur ut ullam numquam quisquam? Et quo voluptas inventore fuga quia?</p>
                            <a class="btn btn-danger" href="#!/menu"> Conoce mas acerca de nuestros servicios</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>