<section>
    <div class="container-fluid eventos paddiing-0">
        <div class="opacidad-imagen-eventos ">
            <div class="row justify-content-center align-items-center tam2 animated flipInX">
                <div class="col-sm-12 col-12 col-md-11 col-lg-9">
                    <p class="text-blue text-center title-footer">¡EVENTOS y FIESTAS!</p>

                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-12 text-dark text-lg-left text-center">
                            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore aperiam vero possimus asperiores, deleniti sit et quos? Quos libero tenetur ut ullam numquam quisquam? Et quo voluptas inventore fuga quia?</p>
                            <a class="btn bg-pink mb-5 py-2" href="#!/menu"> <strong>Conoce mas acerca de nuestros servicios</strong></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>