<section class="">

    <div class="container-fluid contenedor paddiing-0">
        <div class="opacidad-imagen">
            <div class="row justify-content-center align-items-center tam100vh">
                <div class="col-sm-10 col-md-11 col-lg-9 separacion">
                    <!-- <p class="display-1 text-white text-center sombra-texto animated zoomIn texto-small"><strong>SAN COCHITO</strong></p> -->
                    <p class="text-white text-center sombra-texto title-principal animated zoomIn texto-small d-md-block d-none">SAN COCHITO</p>
                    <p class="text-white text-center sombra-texto display-4 animated zoomIn texto-small d-block d-md-none">SAN COCHITO</p>
                    <p class="text-white text-center display-3 animated flipInX text-danger sombra-texto"><strong>Tortas ahogadas</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-danger">
        <p class="bg-danger h3 eslogan text-center text-white">¡LAS MEJORES TORTAS AHOGADAS DE JALISCO, CALIDAD Y SERVICIO NOS RESPALDA!</p>
    </div>
    <div class="container-fluid eventos paddiing-0">
        <div class="opacidad-imagen-eventos">
            <div class="row justify-content-center align-items-center tam50vh">
                <div class="col-sm-10 col-md-11 col-lg-9">
                    <p class="text-white text-center title-footer sombra-texto">¡EVENTOS y FIESTAS!</p>
                    <div class="row justify-content-center">
                        <div class="col-6 text-white">
                            <p class="lead text-left sombra-texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore aperiam vero possimus asperiores, deleniti sit et quos? Quos libero tenetur ut ullam numquam quisquam? Et quo voluptas inventore fuga quia?</p>
                            <button type="button" class="btn btn-danger"> Conoce mas acerca de nuestras paquetes</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>