<section class="" pb-5>
    <div class="modal fade" id="imagen" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content sombra">
                <!-- <div class="modal-header bg-dark">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-danger">&times;</span>
                      </button>
                </div> -->
                <div class="modal-body">
                    <img ng-src="{{menu.imagen}}" alt="" class="img-fluid sombra">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid menu paddiing-0 opacidad-imagen">
        <div class="opacidad-imagen">
            <div class="container ">
                <div class="row justify-content-center align-items-center pt-5">
                    <div class="col-sm-10 col-md-11 col-lg-9 separacion">
                        <!-- <p class="display-1 text-white text-center sombra-texto animated zoomIn texto-small"><strong>SAN COCHITO</strong></p> -->
                        <p class="text-blue text-center title-footer animated flipInX texto-small  pb-3 mb-5">SERVICIOS</p>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- <div class="col-12">
                                <p class="text-white text-center display-4 animated flipInX text-danger sombra-texto pl-0"><strong>Tortas ahogadas</strong></p>
            
                            </div>
                            <hr class="border border-warning bg-warning"> -->
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active h3" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> <strong>SERVICIO 1</strong> </a>
                                <a class="nav-item nav-link h3" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> <strong>SERVICIO 2</strong> </a>
                                <a class="nav-item nav-link h3" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> <strong>SERVICIO 3</strong> </a>
                                <a class="nav-item nav-link h3" id="nav-bebidas-tab" data-toggle="tab" href="#nav-bebidas" role="tab" aria-controls="nav-contact" aria-selected="false"> <strong>BEBIDAS</strong> </a>
                                <a class="nav-item nav-link h3" id="nav-pago-tab" data-toggle="tab" href="#nav-pagp" role="tab" aria-controls="nav-contact" aria-selected="false"> <strong>FORMAS DE PAGO</strong> </a>

                                <!-- <a class="nav-item nav-link sombra-texto h3" id="nav-paquete-tab" data-toggle="tab" href="#nav-paquete" role="tab" aria-controls="nav-paquete" aria-selected="false"> <strong>PAQUETES</strong> </a> -->
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">

                            <!------------------------------------------- Tortas ahogadas ----------------------------------->
                            <div class="tab-pane fade show mb-5  show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="container-fluid bg-pink">
                                    <p class="bg-pink h3 eslogan text-center text-white">* Todos los paquetes se dejan en cubetas y bolsas.</p>
                                </div>
                                <div class="row pb-5 mt-5 justify-content-center">
                                    <div class="col-12 col-lg-6 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2009.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 1</strong></p>
                                        <div></div>
                                        <p class="text-danger pl-0 h3 pl-0"> 1 Torta y 2 tacos (sin Carne).</p>
                                        <div class="row tex-secondary">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$62.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6 mt-4-5">
                                                <p class="lead"> $69.00</p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-12 col-lg-6 d-lg-block d-none mt-5 pl-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$62.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $69.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2051.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>

                                    </div>

                                    <div class="col-12 col-lg-6 d-block d-lg-none">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$62.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $69.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2035.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5 ">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 3</strong></p>
                                        <p class="text-danger pl-0 h3"> 1 torta mini y 2 tacos (con carne).
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="lead">Precio por paquete:</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">$66.00</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead mt-4-5"> $73.00</p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------------------- PAQUETE 2----------------------------------->
                            <div class="tab-pane fade show mb-5 " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="container-fluid bg-pink">
                                    <p class="bg-pink h3 eslogan text-center text-white">* Todos los paquetes se entregan en bolsas individuales.</p>
                                </div>
                                <div class="row pb-5 mt-5 justify-content-center">
                                    <div class="col-12 col-lg-6 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2014.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 1</strong></p>
                                        <p class="text-danger pl-0 h3"> 1 Torta y 2 tacos (sin Carne).</p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$74.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6 mt-4-5">
                                                <p class="lead"> $81.00</p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-12 col-lg-6 d-lg-block d-none mt-5 pl-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$74.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $81.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2049.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>

                                    </div>

                                    <div class="col-12 col-lg-6 d-block d-lg-none">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$74.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $81.00</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 mt-5 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2047.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 3</strong></p>
                                        <p class="text-danger pl-0 h3 pl-0"> 1 torta mini y 2 tacos (con carne).
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="lead">Precio por paquete:</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">$78.00</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead mt-4-5"> $81.00</p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------------------------- PAQUETE 3 ---------------------------------->
                            <div class="tab-pane fade show mb-5 " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="container-fluid bg-pink">
                                    <p class="bg-pink h3 eslogan text-center text-white">* Se atiende el servicio en el evento.</p>
                                </div>
                                <div class="row pb-5 mt-5 justify-content-center">
                                    <div class="col-12 col-lg-6 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2014.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 1</strong></p>
                                        <p class="text-danger pl-0 h3"> 1 Torta y 2 tacos (sin Carne).</p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$71.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6 mt-4-5">
                                                <p class="lead"> $78.00</p>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-12 col-lg-6 d-lg-block d-none mt-5 pl-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$71.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $78.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2049.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>

                                    </div>

                                    <div class="col-12 col-lg-6 d-block d-lg-none">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 2</strong></p>
                                        <p class="text-danger pl-0 h3"> 3 Tacos (con carne).
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$71.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $78.00</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6 mt-5 pl-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2047.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 3</strong></p>
                                        <p class="text-danger pl-0 h3 pl-0"> 1 torta mini y 2 tacos (con carne).
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="lead">Precio por paquete:</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">$75.00</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="lead mt-4-5"> $82.00</p>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-12 col-lg-6 d-lg-block d-none mt-5 pl-5">
                                        <p class="text-white sombra-texto h3 pb-3 pl-0"><strong>Paquete 4</strong></p>
                                        <p class="text-danger pl-0 h3"> 4 tacos blanditos.
                                        </p>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="lead">Precio por paquete:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">$77.00</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead">Con refresco de 2L para 4 paquetes (Incluye Vasos):</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="lead mt-4-5"> $83.00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6 mt-5">
                                        <figure class="sombra">
                                            <a href="" data-toggle="modal" data-target="#imagen" ng-click="menu.muestraImagen($event)"><img src="images/paquetes/DSC_2049.JPG" alt="" class="img-fluid sombra"></a>

                                        </figure>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show mb-5 " id="nav-bebidas" role="tabpanel" aria-labelledby="nav-bebidas-tab">
                                <div class="container-fluid bg-pink">
                                    <p class="bg-pink h3 eslogan text-center text-white">* Refrescos de 2 litros para 4 paquetes</p>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item h4"><strong>• Squirt</strong></li>
                                    <li class="list-group-item h4"><strong>• Squirt Light</strong></li>
                                    <li class="list-group-item h4"><strong>• Sidral</strong></li>
                                    <li class="list-group-item h4"><strong>• Sidral Light</strong></li>
                                    <li class="list-group-item h4"><strong>• Zubba</strong></li>
                                    <li class="list-group-item h4"><strong>• Lemon One</strong></li>
                                    <li class="list-group-item h4"><strong>• Red Cola</strong></li>
                                    <li class="list-group-item h4"><strong>• Red Cola Light</strong></li>
                                    <li class="list-group-item h4"><strong>• Caballitos</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid bg-pink">
        <p class="bg-pink h3 eslogan text-center text-white">* Todos nuestros paquetes incluyen: Platos, Cucharas, Servilletas y Desechablaes.</p>
    </div>
</section>