<section>
    <div class="container-fluid">
        <div class="row justify-content-center bg-white py-5">
            <div class="col-12">
                <p class="text-blue text-center title-footer animated flipInX d-none d-lg-block"> NOSOTROS</p>
                <p class="text-blue text-center title-footer-sm animated flipInX d-lg-none d-block"> NOSOTROS</p>
            </div>
            <div class="col-lg-8 col-12">
                <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit provident deleniti iure, animi quod qui aspernatur magni similique molestiae minus molestias obcaecati modi quia eos est ab error nisi, dolor labore mollitia non possimus
                    voluptate sit natus. Eveniet, ex! Ratione dignissimos saepe eveniet ipsa dolorem! Mollitia nostrum sed, illo et adipisci fuga animi repellat pariatur corrupti facere repellendus distinctio praesentium consequatur qui repudiandae iure
                    ut, ab impedit omnis consectetur vitae ducimus id debitis tenetur? Rem sit eligendi corrupti laudantium sed ex magni, qui quas, dolore ullam minus tenetur, porro exercitationem placeat repellat! Nostrum, pariatur! Distinctio assumenda
                    nesciunt minus officiis ut pariatur repellendus doloribus facilis aperiam omnis! Ab alias eligendi dolor in nam error quos natus adipisci, sequi consequuntur perferendis sint iste repellat deserunt culpa! Nisi assumenda debitis, vero
                    est ex pariatur, reprehenderit libero id modi doloribus eum harum consequatur corporis fugiat dolor atque ad, quasi sequi ab. Nobis, est aperiam?</p>
            </div>
        </div>
    </div>
</section>