@font-face {
    font-family: fuente;
    src: url(../../fonts/porter/PORTER__.TTF);
}

.porter{
    font-family: fuente;
}
body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.close {
    font-size: 3rem;
}

nav {
    background: rgba(0, 0, 0, 0);
}

.separacion {
    line-height: 1;
}

.bg-dark {
    transition: background-color 0.2s linear;
    opacity: 0.9;
}

.tam-logo {
    width: 160px !important;
    height: 160px !important;
    transition: width 0.6s, height 0.6s;
}

.tam-logo-principal {
    width: 300px !important;
    height: 300px !important;
    transition: width 0.6s, height 0.6s;
}

.red-logo {
    width: 100px !important;
    height: 100px !important;
    transition: width 0.6s, height 0.6s;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(228, 228, 228);
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #00ACEC
}

body {
    overflow-x: hidden;
}

.sombra {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sombra-texto {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    padding-right: 15px;
}

.opacidad-imagen-menu {
    background-color: rgba(44, 44, 44, 0.5)
}

.contenedor {
    overflow: hidden;
    background: url(../../images/contactanos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 6%;
    height: 40vh;
}

.menu {
    background: url(../../images/madera.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 6%;
    background-color: rgb(255, 255, 255);
}

.contactanos {
    /* overflow: hidden;
    background: url(../../images/contactanos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 6%; */
    background-color: rgb(245, 245, 245) !important;
    min-height: 40vh !important;
    max-height: 150vh !important;
}

.footer {
    /* background: url(../../images/footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 6%; */
    background-color: rgb(5, 138, 187);
}

.eventos {
    /* background: url(../../images/eventos.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 6%; */
    background-color: white;
    min-height: 50vh;
    max-height: 150vh;
}

.texto-small {
    font-size: calc(3vw + 3vh + 2vmin);
}

.paddiing-0 {
    padding: 0 !important;
}

.tam {
    min-height: 40vh !important;
    max-height: 150vh !important;
}

.tam2 {
    min-height: 50vh !important;
    max-height: 150vh !important;
}

.tam3 {
    height: 60vh !important;
}

.tam4 {
    height: 50vh !important;
}

.nav-font {
    font-size: 28px;
}

.title-footer {
    font-size: 4em;
}

.title-footer-sm {
    font-size: 3em;
}

.title-principal {
    font-size: 2em;
    color: rgb(255, 249, 242) !important;
}


/* mapa */

div.mapa {
    position: relative;
    overflow: hidden;
}

div.mapa p {
    max-width: 100%;
    height: 400px;
    z-index: 1;
}


/* div.mapa button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    margin-left: 100px;
    margin-top: 12px;
    width: 200px;
} */

.paddingNone {
    padding-left: 0!important;
    padding-right: 0!important;
}

.eslogan {
    margin-bottom: 0;
    padding: 20px;
}

a:link {
    color: white;
}


/* visited link */

a:visited {
    color: white;
}


/* mouse over link */

a:hover {
    color: white;
}


/* selected link */

a:active {
    color: white;
}

.text-danger {
    color: red !important;
}

hr {
    width: 100px;
}

.nav-item {
    color: rgb(36, 36, 36) !important;
}

.tab-content img {
    border-radius: 10px;
}

.modal-body {
    padding: 0;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.2);
}


/* Opacity #2 */

#nav-tabContent figure {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#nav-tabContent figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#nav-tabContent figure:hover img {
    opacity: .5;
}

#nav-tabContent figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#nav-tabContent figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure {
    width: 500px;
    height: 300px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(31, 31, 31, 0.7) !important;
}

.navbar-nav .active {
    color: rgb(0, 0, 0) !important;
}

.text-warning {
    color: #F3CB31 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(0, 0, 0) !important;
    background-color: rgba(235, 235, 235, 0.7);
    border-color: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    color: rgb(153, 153, 153);
    padding-left: 0;
}

.mt-4-5 {
   
}

.bg-pink {
    background-color: #C55F57 !important;
}

body {
    background-color: rgb(245, 245, 245) !important;
}

.p-t {
    padding-top: 6.3em;
}

.text-blue {
    color: #00ACEC;
}

.bg-blue {
    background-color: #00ACEC;
}

.tab-pane,
.list-group-item {
    background-color: papayawhip;
}

.bg-papaya {
    background-color: papayawhip;
}

.refrescos li,
.formas li {
    background: papayawhip;
}

.refrescos li:nth-child(odd),
.formas li:nth-child(odd) {
    background: rgb(235, 212, 176);
}

.formas-pago,
.refrescos {
    padding: 30px;
}

.m-0 {
    margin-bottom: 0px;
    padding-bottom: 0.8rem !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-12,
.col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
}

.bg-secondary {
    background-color: rgb(245, 245, 245) !important;
}

.f-size-menu {
    font-size: 19px;
}

.invalido {
    border: 1.5px solid #ff7e7e;
    opacity: 0.8;
}

.swal-overlay {
    background-color: rgba(50, 168, 168, 0.45);
}

.swal-modal {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-backdrop {
    background-color: rgba(50, 168, 168, 0.45);
}